# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database files
database/test_clinic.db
*test_clinic.db*
*.db-journal
*.db-shm
*.db-wal

# Environments
.env
.env.local
.env.*
.venv
venv/
ENV/
env/

# pytest cache
.pytest_cache/

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
